.blanco{
    display: flex;
        background-color: rgba(255, 255, 255, 0.913);
        border-radius: 25px;
        height: 120px;
        padding: 20px;
        width: 80%;
        margin-top: 20px;
        margin-inline: 10%;
        align-items: center;
        justify-content: space-between;
    }
    .titulo{
      display: flex;
     justify-content: center;
    
    }
    .img{
        background-color: darksalmon;
        border-radius: 7px;
        width: auto;
        height: 110px;
    }
    .boton-pagar{
     margin-inline: 10px;
    }
    .pagar{
        padding: 10px;
        margin-top: 50px;
        background-color: white;
        margin-inline: 15%;
        border-radius: 10px;
    }
    